@mixin text-style($color, $font-size, $font-family) {
  color: $color;
  font-size: $font-size;
  font-family: $font-family;
}

.texts {
  h1 {
    @include text-style(#bfff40, 30px, arial);
  }
  p {
    @include text-style(#000000, 20px, sans-serif);
  }
}
