.classe1 {
  ul {
    background-color: red;
  }

  li {
    background-color: blue;
    padding: 10px 0px;
  }
  button {
    background-color: green;
    color: #ffffffff;
    cursor: pointer;

    &:hover {
      background-color: #ff0000;
      transition: 500ms;
    }
  }
}
