.textBuy {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: $primary-color;
}
.btn {
  padding: 10px 15px;
  border: 1px solid #ff0000;
  background-color: $secundary-color;
}
