//Mudando a cor do titulo de claro para escuro automaticamente de acordo com a cor do background
* {
  margin: 0px;
  padding: 0px;
}
@function color-title($background-color) {
  /*lightness = se claridade do background-color for maior que 50*/
  @if (lightness($background-color) > 50) {
    @return black;
  } @else {
    @return white;
  }
}

@mixin background-color-mixin($color) {
  background-color: $color;
  color: color-title($color);
}

.title {
  height: 100vh;
  @include background-color-mixin(rgb(143, 234, 238));
}
